@font-face {
  font-family: Ubuntu;
  src: url($lib/fonts/Ubuntu.woff2);
}

/* @font-face {
    font-family: CrimsonText;
    src: url($lib/fonts/CrimsonText.woff2);
  }
  
  @font-face {
    font-family: Sacramento;
    src: url($lib/fonts/Sacramento-Regular.ttf);
  } */

@font-face {
  font-family: Vibur;
  src: url($lib/fonts/Vibur-Regular.woff2);
}

/* @font-face {
    font-family: Exo2;
    src: url($lib/fonts/Exo2.ttf);
  } */
