/* ----------- MOBILE -----------*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 55px;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
  z-index: 1;
  /* can remove when burger menu done */
  background-color: var(--background);
}

nav a {
  text-decoration: none;
  color: var(--color);
  font-size: 16px;
}

/* for when the burger menu is set up */
/* nav {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 36px 0 0 36px;
  transition: ease-out 0.25s;
  left: -100vw;
} */

nav {
  display: flex;
  gap: 20px;
  padding: 36px 0 0 36px;
  transition: ease-out 0.25s;
}

.menu.open {
  left: 0;
}

.burger {
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  z-index: 2;
}

.burger-bar {
  width: 2rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 10px;
  transform-origin: left center;
}

/* ----- animations--------- */
/* open */
.burger-bar.open:nth-child(1) {
  transform: rotate(45deg) translate(-2px, -1px);
  transition: ease-out 0.5s;
}

.burger-bar.open:nth-child(2) {
  opacity: 0;
  transition: ease-out 0.5s;
}

.burger-bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(0, -1px);
  transition: ease-out 0.5s;
}

/* closed */
.burger-bar.closed {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/* ----------- DESKTOP -----------*/
@media (min-width: 768px) {
  .burger {
    display: none;
  }

  nav a {
    transition: all 0.5s ease;
  }

  nav {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
  }
}
